* { margin: 0;
    padding: 0;
}

body { background-color: whitesmoke; }
        body { font-family: 'Montserrat', sans-serif}
        h1, h3 { color: #0a7e51}

        .name-green { color: #0a7e51;}
        #ide {color: rgb(44, 143, 14);}

        h3 {
            font-size: 28px;
            line-height: 42px;
            font-weight: 600;
        }


        .hero-type {
            font-size: 45px;
            line-height: 55px;
            font-weight: 600;
         }

        .market-heading {
             font-size: 28px;
             line-height:  42px;
             font-weight: 600;
         } 
        .testimonial-2-heading {
            font-size: 28px;
            line-height: 30px;
            font-weight: 600;        
        }
        .program-column-heading {
            font-size: 28px;
            line-height: 36px;
            font-weight: 600;
        }
        .student-testimonial-photo {
            border-radius: 100%;
        }

        .testimonial-photo {
            border-radius: 100%;
        }

        .button {
            border-radius: 4px;
            background-color: #11a36a;
            color: #fff;
            padding: 15px 30px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            text-align: center;
            font-family: Montserrat, sans-serif;
        }

        #header {
            background-image: url(./foto/smiling-image.jpg);
            background-size: cover;
            background-position: 50% 25%;
            padding: 60px 30px 40px 30px;
        }

        #header-content {
            max-width: 50%;
            margin-left: 75px;
            
        }

        #header-text {
            margin-top: 40px;
            max-width: 85%;

        }


        #sign-up {
            margin-top: 40px;
            margin-left: 75px;

        }
        /* Seção 2 */

        #marketing {
            border: 2px red solid;
            text-align: center;
            padding: 70px;
        }

        #marketing-text {
            max-width: 60%;
            margin: auto;
            margin-bottom: 70px;
            
            line-height: 24px;
            font-size: 16px;
            text-align: center;

            border: 2px blue solid;

        }

        .studentes-content { 
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            margin: 15px;
            border:  2px green solid;
        }



        /* Seção 3 */
        #learning {
            padding: 30px 70px;
            background-color: #f5f5f5;
        }

        #learning-left {
            float: left;
            margin-left: 10%;
        }

        #learning-right {
            float: right;
            margin-right: 10%;
            
        }

        #footer {
            clear: both;
            text-align: center;
        }

        #footer h4 {
            margin-bottom: 40px;
        }